<div class="cards">
    <mat-card *ngFor="let warehouse of warehouses" class="card">
        <mat-card-header class="card-header">
            <mat-card-title>
                {{ warehouse.name }}
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                <i class="material-icons">
                    location_city
                </i>
                <p>
                    {{ warehouse.location }}
                </p>
            </mat-card-subtitle>
        </mat-card-header>
        <img class="card-img" mat-card-image src="{{ warehouse.img_url }}"
            alt="city">
        <mat-card-actions class="buttons">
            <button color="primary" mat-button>
                <i class="material-icons">
                    edit
                </i>
            </button>
            <button color="warn" mat-button>
                <i class="material-icons">
                    delete_outline
                </i>
            </button>
        </mat-card-actions>
    </mat-card>
</div>