.cards {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 525px;
}

.card {
    height: 400px;
    width: 300px;
    margin: 10px;
}

.card .subtitle {
    display: flex;
    align-items: center;
}

.card .subtitle i {
    margin-right: 7px;
}

.card .subtitle p {
    padding-top: 10px;
    margin: 0;
}

.card img {
    object-fit: cover;
    height: 300px;
    margin-bottom: 0;
}

.card .buttons {
    padding-top: 0;
}