.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #303030;
}

.footer p {
    font-weight: 200;
    margin: 0;
}

.footer i {
    margin-left: 10px;
}